.cards {
    margin: 50px auto 0 auto;
    max-width: 880px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
}

@media screen and (max-width: 880px) {
    .cards {
        max-width: 720px;
        justify-content:  center;
        gap: 20px;
    }
}

@media screen and (max-width: 320px) {
    .cards {
        margin-top: 36px;
        max-width: 282px;
        width: 100%; 
    }
}