.form__item {
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 500px) {
    .form__item {
        max-width: 238px;
        width: 100%;
    }
}