.footer {
    margin: 66px auto 60px auto;
    max-width: 880px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 895px) {
    .footer {
        max-width: 720px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 414px) {
    .footer {
        padding-left: 46px;
        margin: 48px auto 36px auto;
        max-width: 414px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 48px auto 36px auto;
        padding: 0;
        max-width: 282px;
    }
}