.profile__avatar_edit {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 120px;
    height: 120px;
    background: none;
    border: none;
    border-radius: 50%;
    transition: 0.5s ease;
}
  
.profile__avatar_edit:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.8);
    background-image: url(../../../images/edit-pencil.svg);
    background-position: center;
    background-repeat: no-repeat;
}