.profile__info {
    margin: 0;
    padding: 22px 0 25px 30px;

    max-width: 336px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: center;
}

@media screen and (max-width: 640px) {
    .profile__info {
        margin-bottom: 45px;
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .profile__info {
        margin-bottom: 0;
        padding: 26px 0 36px 0;

        max-width: 282px;
        height: 54px;
    }
}